*{margin:0;padding:0;}
a{text-decoration: none;}
body{font-family: "微软雅黑";font-size:12px;}
img{border:0;}
.header{width:100%;height:90px;padding:20px 0 10px 0;}
.yatang{width:1200px;height:60px;margin:auto;position:relative;}
.logo{width:171px;height:60px;}
.r_ya{width:300px;height:22px;list-style-type:none;position:absolute;right:0;bottom:0;}
.r_ya>li{float:left;margin-left: 21px;}
.r_ya>li>a{font-size:12px;color:#666;text-decoration:none;line-height:22px;}
.r_ya>li>a:hover{color:#f00;}
/*header end*/
.center{width:1200px;min-height:540px;margin:auto;border-top:1px solid #ccc;padding-top:10px;}
.fill{width:750px;height:53px;margin:auto;}
.name{width:115px;height:22px;border-bottom: 1px solid #f00;padding:15px 20px;float:left;margin-left:80px;}
.name>span:nth-of-type(1){width:20px;height:20px;border-radius: 50%;background:#c40000;display:block;text-align: center;line-height:20px;margin-right:10px;color:#fff;float:left;}
.name>span:nth-of-type(2){display:block;float:left;font-size:16px;}
/*fill end*/
.register{width:1200px;height:660px;margin:auto;padding:30px 0 20px 0;}
.register>form{width:830px;height:416px;margin-left:330px;margin-top:65px;font-size:14px;padding:10px;position:relative;}
.register>form>input{width:270px;height:40px;border:#ccc solid 1px;margin:10px 10px 10px 20px; }
.register>form>input:nth-of-type(1){margin-left:22px;}
.error{font-size:14px;}
.error>span:nth-of-type(2){color:#f00;}
.prompt{width:265px;height:77px;border:1px solid #ccc;border-bottom:0;position:absolute;top:65px;left:375px;}
.prompt>p{line-height:22px;margin-left:15px;}
.talk{width:280px;height:64px;padding:10px;margin-left:70px;font-size:12px;}
.talk>a{text-decoration: none;color:#f00;}
.next{width:280px;height:111px;padding:10px;margin-left:70px;font-size:14px;}
.next>input{width:180px;height:35px;background:#aaa;border-radius:3px ;line-height:17px;border:0;color:#fff;font-size:16px;}
.next>input:hover{background:#f13}
.next>a{display:block;text-decoration:none;margin-top:55px;}
.next>a:hover{color:#E4393C;}
/*center end*/
.footer{width:1200px;height:131px;margin:auto;}
.footer>a{text-decoration: none;color:#f00;}
.footer>div:nth-of-type(1){margin:auto;font-family:Microsoft YaHei;text-align: center;font-size: 12px;color:#666;padding-top: 10px;}
.footer>div:nth-of-type(2){margin:auto;font-family:Microsoft YaHei;text-align: center;font-size: 12px;color:#666;padding-top: 10px;}
.footer>div>a:hover{text-decoration: none;color:#f00;}
.footer>div:nth-of-type(3){height:47px;padding:10px 0 20px 0;text-align:center;}
